
.DS_Store
.DS_Store
Library/ScriptMapper
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/CurrentLayout.dwlt
Library/EditorInstance.json
Library/expandedItems
Library/LastSceneManagerSetup.txt
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
*.log
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityTempFile-4743ba8cb8e18465784e759a968b37f8
Temp/UnityTempFile-b5d96ab831a0142ec9a3e5a416fa2d5a
Temp/UnityTempFile-bb64053eba1634983a9d03b7b9ce41f7
Temp/UnityTempFile-cab4d63349fc049a9839643e2fdedf69
